@font-face {
    font-family: "Pixeled"; src: url("font/Pixeled.ttf");
}

@font-face {
    font-family: "Pixelade"; src: url("font/PIXELADE.TTF");
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 900px;
    min-width: 1200px;
    display: flex;
    background-image: url("../img/background.gif");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    width: 440px;
    flex-shrink: 0;
    background-color: #8787874a;
    font-size: 20px;
}

sidebar > p {
    font-family: Pixelade, Arial, Helvetica, sans-serif;
    font-size: 31px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #6E2C00;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

sidebar > img {
    margin-bottom: 30px;
}

#buttons {
    margin-top: 60px;
}

button {
    padding-bottom: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-size: large;
    font-family: Pixeled, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px outset #fff;
    cursor: pointer;
}

button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

boulderdash {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 2vw);
    grid-template-columns: repeat(var(--grid-cols), 2vw);
    border : 2vw solid transparent;
    border-image: url(../img/textures/border.png);
    border-image-slice: 160;
    border-image-repeat: round;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-item {
    background-size: cover;
}