@font-face {
    font-family: "Pixeled"; src: url("font/Pixeled.ttf");
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../img/background.gif");
    min-height: 900px;
}

header > img {
    width: 600px;
}

#buttons{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6E2C00;
    padding-top: 20px;
    box-sizing: border-box;
    border: dashed 8px rgba(0, 0, 0, 1);
}

button {
    padding-bottom: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 450px;
    color: white;
    font-size: large;
    font-family: Pixeled, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px outset #fff;
    cursor: pointer;
}

button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > p {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#audio-control {
    cursor:pointer;
    padding: 10px 20px;
    background:#000;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
  }

  #volume {
      font-size: small;
      width: 200px;
      padding-bottom: 5px;
  }

  #file {
      display: none;
  }

  #deleteLevel{
    width: 60vw;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #6E2C00;
    padding-top: 20px;
    box-sizing: border-box;
    border: dashed 8px rgba(0, 0, 0, 1);
}

#modifyLevelsOrder{
    width: 90vw;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #6E2C00;
    padding-top: 20px;
    box-sizing: border-box;
    border: dashed 8px rgba(0, 0, 0, 1);
}